.navbar {
    background : #0db4be;
    margin-bottom: 2px;
    color:white;
    height: 0;
}
  
.header-style1 {
    align-content: center;
    margin-left:100px;
}

.title {
    color:white;
    font-size: 25px;
}

.menu {
    color: white;
    text-transform: uppercase;
    padding: 2% 2% 0 2%;
}

.menu1 {
    color: white;
    text-transform: uppercase;
    padding: 2% 10% 0 2%;
    margin-right: 10%;
}

.nav .navbar-nav li.active {
    background: #36ccd5;
}

li:hover {
    background: #36ccd5;
} 

.row {
    display: flex;
    padding: 0 15px 20px 0;
    justify-content: space-between;
}
.carousel {
    margin-top: 30px;
}

.icons-style {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 30px;
    color:#36ccd5;
}

.button-style {
    padding-top: 10%;
    padding-bottom: 10%;
}

.col{
    justify-content: space-between;
    margin-top:10%;
}

.slider {
    padding-top: 4%;
}

.header {
   margin-bottom: 30px;
}

.content {
   margin-top: 8%;
}

.carousel {
   margin-top: 30px;
}

.container-style {
   padding-top: 0;    
}

.sub-content {
   margin-bottom: 45px;
}  

.sub-content-color {
   color:grey;
}
.footercolor{
   color:grey;
}